<% provide(:title, '座席表') %>
<div class="content">
	<%= render 'shared/flash' %>
	<div class="seating_chart">
		<table>
			<% @sheets.each do |s| %>
				<% if s.column == 1 %>
					<tr>
						<th><%= s.row.upcase %></th>
				<% end %>
				<% if @reserved_sheets_id.include?(s.id) %>
					<td class="reserved">
						<div> <%= s.column %> </div>
					</td>
				<% else %>
					<td>
						<%= link_to new_movie_schedule_reservation_path(@movie_id, @schedule_id, sheet_id: s.id, date: @date) do %>
							<%= s.column %>
						<% end %>
					</td>
				<% end %>
				<% if s.column == 5 %>
						<th><%= s.row.upcase %></th>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>