
<div class="content">
	<div class="registration-form">
		<%= form_with model: @reservation, url: movie_schedule_reservations_path do |f| %>
			<%= f.hidden_field :user_id, :value => @user.id %>
			<%= f.hidden_field :movie_id, :value => @movie.id %>
			<%= f.hidden_field :schedule_id, :value => @schedule.id %>
			<%= f.hidden_field :sheet_id, :value => @sheet.id %>
			<%= f.hidden_field :date, :value => @date %>
			<%= f.hidden_field :name, :value => @user.name %>
			<%= f.hidden_field :email, :value => @user.email %>
			<table class="reservation-info">
				<tr>
					<th>作品名</th>
					<td><%= @movie.name %></td>
				</tr>
				<tr>
					<th>日時</th>
					<td>
						<%= @schedule.start_time.strftime("%Y年%m月%d日") %><br>
						<%= @schedule.start_time.strftime("%H:%M") %>~
						<%= @schedule.end_time.strftime("%H:%M") %>
					</td>
				</tr>
				<tr>
					<th>座席</th>
					<td>
						<%= @sheet.row.upcase %>
						<%= @sheet.column %>
					</td>
				</tr>
				<tr>
					<th>氏名</th>
					<td>
						<%= @user.name %>
					</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td>
						<%= @user.email %>
					</td>
				</tr>
			</table>
			<div class='submit'>
				<%= f.submit "予約を完了する", class: 'btn-primary btn' %>
			</div>
		<% end %>
	</div>
</div>
